<style>
    .lead{
        font-size: 1.25rem;
        font-weight: 300;
    }

    .inner {
        display: flex;
        flex-direction: column;
        margin: 10rem;
    }
</style>

<div class="inner">
    <h1 class="cover-heading">Welcome to Drink Manager</h1>

    <p class="lead">
        Drink Manager your go-to solution for efficient beverage collection management, developed as part of the ADT diploma project.
    </p>

    <p class="lead">
        Designed specifically as an admin dashboard, Drink Manager simplifies the task of organizing your drink inventory. With our user-friendly interface, you can easily catalog various beverages, track quantities, and manage expiration dates all in one place.
    </p>

    <p>
        You can find the source code on our GitHub repository: <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://github.com/AutomatischerDosenTransporter">AutomatischerDosenTransporter</a>
    </p>


    <p class="lead">
        <a href="/drinks" class="btn btn-lg btn-primary">Get Started</a>
    </p>
</div>